<div class="border-sm m-2 flex border gap-x-2 rounded-md items-center p-4 {% if ! enabled %}border-gray-400 text-gray-400{% endif %}">
    {% if enabled %}
    <button onclick="toggle_alarm({{ id }});" class="rounded-full bg-emerald-500/20 p-2">
        <div class="h-2 w-2 rounded-full bg-emerald-500"></div>
    {% else %}
    <button onclick="toggle_alarm({{ id }});" class="rounded-full bg-red-500/20 p-2">
        <div class="h-2 w-2 rounded-full bg-red-500"></div>
    {% endif %}
    </button>

    <p class="text-sm italic text-gray-500">{{ id }}</p>
    <p class="bold text-md">{{ name }}</p>

    <p class="text-md thin">{{ time }}</p>

    <!-- weekday widget -->
    {% if let Some(text) = day.clone() %} {{ text }} {% endif %}

    {% if let Some(text) = date.clone() %} {{ text }} {% endif %}
    
    <!-- decide between music or artist display -->
    <p class="text-sm italic text-gray-300"> 
        Playing: 
        {% if let Some(text) = artist.clone() %}
            {{ text }}
        {% else if let Some(text) = music.clone() %}
            {{ text }}
        {% endif %}
    </p>

    <div class="ml-10 justify-right gap-x-4 flex">
        <button onclick="delete_warn({{ id }});"> <i class="fa-solid fa-trash"></i></button>
        <button onclick="editor({{ id }});"> <i class="fa-solid fa-pen"></i></button>
    </div>
</div>
