<!DOCTYPE html>
<html class="" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wake Board</title>
        <script>
            const xhr = new XMLHttpRequest();
            function stop_alarm() {
                event.preventDefault();
                xhr.open("POST", "/stop");
                xhr.send();
            }
            // do not name functions submit(), I hate JS
            function submit_clicked() {
                event.preventDefault();
                // TODO: decide between new and edit existing
                // TODO: gather form data here
                var name_str = document.getElementById("name").value;
                var time_str = document.getElementById("time").value;
                var enabled_bool = document.getElementById("enabled").checked;
                var day_str = document.getElementById("day").value;
                var artist_str = document.getElementById("artist").value;
                send_json({
                        // use -1 as special case
                        // the rigid rust typesystem strikes back
                        id: -1,
                        name: name_str,
                        time: time_str,
                        enabled: enabled_bool,
                        day: day_str,
                        date: null,
                        artist: artist_str,
                        music: null,
                    }, "/newalarm", false);
            }
            function send_json(data, path, reload) {
                const XHR = new XMLHttpRequest();

                XHR.addEventListener("error", (event) => {
                    alert("Oops! Something went wrong.");
                });
                if (reload){
                    XHR.addEventListener("loadend", (event) => {
                        location.reload();
                    });
                }

                XHR.open("POST", path);
                XHR.setRequestHeader("Content-Type", "application/json");

                var json_string = JSON.stringify(data);
                console.log(json_string);
                XHR.send(json_string);
            }
            function delete_warn(id) {
                if (confirm("Really delete Alarm No." + id + "?")) {
                    // Delete alarm, just send id as string (not real JSON lol)
                    send_json(id, "/delete", true);
                }
            }
        </script>
        <link rel="stylesheet" href="index.css">
        <!-- FontAwesome <https://fontawesome.com/> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" />
    </head>
    <body class="relative min-h-full flex flex-col justify-center overflow-hidden bg-gray-800 text-gray-200 mx-20">
        <div>
            <!-- navigation bar -->
            <header class="relative w-full flex-none">
                <nav class="relative flex items-center py-4 px-10 gap-x-10">
                    <a href="/"> Home </a>
                    <a href="/edit"> New... </a>
                    <button class="p-1 border border-white rounded-md" onclick="stop_alarm();">Stop Current</button>
                </nav>
            </header>
            <br>
            <!-- site content -->
            {% block content %}
            <p> Loading ... </p>
            {% endblock %}
        </div>
    </body>
</html>
