{% extends "base.html" %}
{% block content %}
{% let new = !alarm.clone().is_some() %}
<div class="flex">
<form class="gap-y-4" id="my-form">
    <div class="items-center flex bold text-xl">
    {% if new %}
    Creating new Alarm:
    {% else %}
    Editing:
    {% endif %}
    <input type="text" name="name" id="name" value="" class="mx-3 bg-gray-700"></input>
    <div class="text-gray-500">ID</div>
    </div>

    <div class="flex mt-4">
    <label>Time:</label>
    <input type="time" name="time" id="time" value="" class="mx-3 bg-gray-700"></input>
    </div>

    <div class="flex mt-4">
    <label>Enable?</label>
    <input type="checkbox" id="enabled" value="" class="mx-3 bg-gray-700"></input>
    </div>

    <div class="flex mt-4">
    <label>week days</label>
    <input type="text" id="day" value="" class="mx-3 bg-gray-700"></input>
    </div>

    <div class="flex mt-4">
    <label>Artists</label>
    <input type="text" id="artist" value="" class="mx-3 bg-gray-700"></input>
    </div>

    <div class="flex items-center gap-x-4 mt-4">
        <a href="/"><button type="button" class="text-sm">Cancel</button></a>
        <button type="submit" onclick="submit_clicked();" class="p-1 border border-white rounded-md">Submit</button>
    </div>
</form>
</div>
<script>

</script>
{% endblock %}

